* {
    margin: 0;
    padding: 0;
}

#mainWrapper {
    margin: 0 auto;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    row-gap: 0;
    column-gap: 0;
}

.mainHeader {
    grid-column: 1/4;
    grid-row: 1;
}

.rules-section {
    background-color: rgb(243, 243, 243);
    padding-left: 0;
    padding-right: 0;
}

.ruleHeader {
    grid-column: 1;
    grid-row: 3;
    padding: 5px 10%;
    background-color: rgb(204, 204, 204);
}

.rules {
    grid-column: 1;
    grid-row: 4/15;
    width: 80%;
    padding: 10px 10% 10px 10%;
}

.labelInput {
    grid-column: 2;
    grid-row: 3;
}

#player-code {
    grid-column: 2;
    grid-row: 4;
    height: 20px;
    width: 59%;
    justify-self: start;
}

#code-attempt{
    grid-column: 2;
    grid-row: 4;
    width: 39%;
    justify-self: end;
}

.labelHistory {
    grid-column: 3;
    grid-row: 3;
}

#history {
    grid-column: 3;
    grid-row: 4/15;
    width: 50%;
}

.labelNotepad {
    grid-column: 2;
    grid-row: 6;
    padding-bottom: 10px;
}

#notepad {
    grid-column: 2;
    grid-row: 7/15;
}